<%- include("partials/header.ejs") %>

<h1> <%= artical.title %> </h1>
<p> <%= artical.content %> </p>


<form action= <%= "/" + topic.title.toLowerCase().replace(/\s+/g, "") + "/deleteArtical" %> method="POST">
  <input type="hidden" name="articalID" value="<%= artical.id %>">
  <input type="hidden" name="topicTitle" value="<%= topic.title %>">
  <button type="submit" class="btn btn-danger">Delete Articals</button>
</form>

<!--
<form action="/editTopic" method="POST">
  <input type="hidden" name="topicTitle" value="<%=//topic.title%>">
  <button type="submit" class="btn btn-dark">edit Topic</button>
</form>
-->

<%- include("partials/footer.ejs") %>