<%- include("partials/header.ejs") %>

<h1> <%= topic.title %> </h1>

<form action="/deleteTopic" method="POST">
  <input type="hidden" name="title" value="<%= topic.title %>">
  <button type="submit" class="btn btn-danger">Delete Topic</button>
</form>

<form action="/editTopic" method="POST">
  <input type="hidden" name="topicTitle" value="<%=topic.title%>">
  <button type="submit" class="btn btn-dark">edit Topic</button>
</form>

<%- include("partials/footer.ejs") %>